@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

.background-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: -100px;
  padding-bottom: 140px;
}

.page-hero {
  position: relative;
  overflow: hidden;
}

.background-video-content {
  position: relative;
  color: rgb(255, 219, 77);
  font-family: 'Bebas Neue', cursive;
  margin-top: 25px;
  font-size: 350px;
  text-align: center;
}

video[poster] {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 8px;
  font-size: 1.2em;
  line-height: 1.6;
  background: #CCC;
  overflow-x: hidden;
}

label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #FFF;
  border-radius: 50% 50% 50% 50%;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #000;
  text-decoration: none;
}

.intro {
  box-sizing: border-box;
  width: 100%;
  height: 1000px;
  margin-left: -10px;
  background-color: white;
}

.photo {
  box-sizing: border-box;
  margin-left: 120px;
  padding-top: 120px;

}

.photowords {
  box-sizing: border-box;
  width: 800px;
  height: 1000px;
  margin-top: -560px;
  margin-left: 800px;
  font-family: 'Anton', sans-serif;
  font-style: italic;
  letter-spacing: 2px;
  font-size: 40px;
}
